body {
	background: #000;
	font-family: plus jakarta sans;
	margin: 0px;
	height: 100%;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	border-radius: 10px 10px 0px 0px;
	margin: 40px 0px 0px 0px;
	padding: 20px;
	flex: auto;
	display: flex;
	width: 600px;
	height: auto;
	justify-content: space-between;
	align-items: center;
	background-color: cornsilk;
}

.container button {
	font-size: 15px;
	display: flex;
	align-items: center;
	height: fit-content;
	border-radius: 10px;
	padding: 7px 15px;
	border: 2px solid #000;
}

.container button:hover {
	background: #333;
	color: palegoldenrod;
}

.container h2 {
	color: #333;
	margin: 0px;
}

.addForm {
	display: flex;
	flex-direction: column;
	width: 800px;
	padding: 20px;
	flex-wrap: wrap;
	background: burlywood;
}

.formElement {
	display: flex;
	gap: 10px;
	padding: 10px;
	width: 300px;
	justify-content: space-between;
	align-items: center;
}

.formElement input {
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #333;
}

.checkBox {
	height: 15px;
	width: 15px;
}

.close {
	display: flex;
	justify-content: end;
	width: auto;
	height: auto;
	border: 0px;
	background: none;
}

.closeToggle {
	display: none;
}

.close svg:hover {
	fill: bisque;
}

.bookList {
	margin-bottom: 40px;
	background: #fff;
	border-radius: 0px 0px 10px 10px;
	width: 800px;
	height: auto;
	padding: 20px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.bookDiv {
	font-weight: bold;
	font-size: 20px;
	background-color: bisque;
	margin: 10px;
	border-radius: 10px;
}

.infoSection {
	margin-top: 5px;
	padding: 0px 20px;
	font-size: 13px;
	font-weight: normal;
}

.infoSection p {
	font-size: 15px;
	font-weight: normal;
	color: #333;
	margin: 0px;
}

.infoSection h2 {
	margin: 0px;
}

.deleteButton {
	border-radius: 10px;
	font-size: 10px;
	padding: 5px 10px;
	border: 0px;
	background: #fff;
	margin: 10px 0px 20px 20px;
}

.deleteButton:hover {
	background-color: burlywood;
}

.coverImage {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.toggleButton {
	border-radius: 10px;
	font-size: 10px;
	padding: 5px 10px;
	border: 0px;
	margin: 10px 0px 0px 5px;
	color: #fff;
}

.toggleButton:hover {
	background-color: coral;
}
